In [1]:
import pandas as pd

In [2]:
import os

In [3]:
print(os.listdir("D:\Github Projects\Tableau")) #give the dir of file

['3B5AD200', 'Ex_Files_Tableau_EssT_Upd (1).zip', 'H-1B_Disclosure_2017.xlsx', 'H-1B_Disclosure_2018.xlsx', 'H-1B_Disclosure_Data_FY17.xlsx', 'H-1B_Disclosure_Data_FY2018_EOY.xlsx', 'H-1B_FY17_Record_Layout.pdf', 'H-1B_FY18_Record_Layout.pdf']

In [5]:
df2017 = pd.read_excel(r'D:\Github Projects\Tableau\H-1B_Disclosure_2017.xlsx')#location of excel

In [6]:
df2018 = pd.read_excel(r'D:\Github Projects\Tableau\H-1B_Disclosure_2018.xlsx')#location of excel

In [7]:
df2017.columns #all clolumns from 2017 file

Index(['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_BUSINESS_DBA', 'EMPLOYER_ADDRESS',
       'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
       'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'AGENT_REPRESENTING_EMPLOYER',
       'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE',
       'JOB_TITLE', 'SOC_CODE', 'SOC_NAME', 'NAICS_CODE', 'TOTAL_WORKERS',
       'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT', 'CHANGE_PREVIOUS_EMPLOYMENT',
       'NEW_CONCURRENT_EMPLOYMENT', 'CHANGE_EMPLOYER', 'AMENDED_PETITION',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY',
       'PW_WAGE_LEVEL', 'PW_SOURCE', 'PW_SOURCE_YEAR', 'PW_SOURCE_OTHER',
       'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY',
       'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'LABOR_CON_AGREE',
       'PUBLIC_DISCLOSURE_LOCATION', 'WORKSITE_CITY', 'WORKSITE_COUNTY',
       'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 'ORIGINAL_CERT_DATE'],
      dtype='object')

In [8]:
df2017.CASE_STATUS.value_counts() #Count of case status 2017 year

CERTIFIED              1552
CERTIFIED-WITHDRAWN     388
WITHDRAWN                36
DENIED                   23
Name: CASE_STATUS, dtype: int64

In [9]:
df2018.CASE_STATUS.value_counts() #Count of case status 2018 (As compare to 2017 deniel rate is decreased in 2018)

CERTIFIED              1512
DENIED                  228
CERTIFIED-WITHDRAWN     214
WITHDRAWN                45
Name: CASE_STATUS, dtype: int64

In [10]:
use_cols= ['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'EMPLOYMENT_START_DATE', 'EMPLOYER_NAME',  'EMPLOYER_CITY', 'EMPLOYER_STATE',
       'JOB_TITLE', 'SOC_CODE', 'SOC_NAME',  'PREVAILING_WAGE', 'PW_UNIT_OF_PAY',
       'PW_WAGE_LEVEL', 'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY',
       'WORKSITE_CITY', 'WORKSITE_STATE']

df2018_New = df2018[use_cols][(((((df2018.CASE_STATUS =='CERTIFIED') |(df2018.CASE_STATUS =='DENIED')) 
                             & (df2018.VISA_CLASS =='H-1B'))
                            &(df2018.CHANGE_EMPLOYER !=0))
                           &(df2018.EMPLOYER_COUNTRY =='UNITED STATES OF AMERICA'))
                                &(df2018.FULL_TIME_POSITION =='Y')]
df2017_New = df2017[use_cols][(((((df2017.CASE_STATUS =='CERTIFIED') |(df2017.CASE_STATUS =='DENIED')) 
                             & (df2017.VISA_CLASS =='H-1B'))
                            &(df2017.CHANGE_EMPLOYER !=0))
                           &(df2017.EMPLOYER_COUNTRY =='UNITED STATES OF AMERICA'))
                                &(df2017.FULL_TIME_POSITION =='Y')]

In [11]:
df2017_New.head(4)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYMENT_START_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_LEVEL,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,WORKSITE_CITY,WORKSITE_STATE
194,I-200-09209-039181,CERTIFIED,2016-09-27,2016-10-03,2016-10-01,CLOUDWICK TECHNOLOGIES INC.,NEWARK,CA,HADOOP ADMINISTRATOR,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",102149.00,Year,Level I,102149.00,124675.0,Year,MOUNTAIN VIEW,CA
201,I-200-16271-793080,CERTIFIED,2016-09-27,2016-10-03,2016-10-04,"FLEXERA GLOBAL, INC.",SUGAR LAND,TX,SOFTWARE ENGINEER,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",69472.00,Year,Level I,70000.00,0.0,Year,SUGAR LAND,TX
202,I-200-16155-597652,CERTIFIED,2016-09-27,2016-10-03,2016-09-30,"GARDEN VIEW, INC.",MONROVIA,CA,"LANDSCAPE DESIGNER, LANDSCAPE ARCHITECTURE",17-1012,LANDSCAPE ARCHITECTS,25.73,Hour,Level I,25.73,0.0,Hour,MONROVIA,CA
203,I-200-16189-475335,CERTIFIED,2016-09-27,2016-10-03,2016-09-27,AMFAL TECH LLC,WINTER SPRINGS,FL,SOFTWARE DEVELOPER,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",47570.00,Year,Level I,47570.00,0.0,Year,LOUISVILLE,KY

In [15]:
# Here you can see the jobtitles which are certified from amazon
df2018_New.JOB_TITLE[(df2018_New.EMPLOYER_NAME.str.contains("Amazon",case=False)==True)&(df2018_New.CASE_STATUS =='CERTIFIED')].value_counts()

BUSINESS DEVELOPMENT MANAGER, AWS SERVICE CATALOG    1
SENIOR PRODUCT MANAGER - TECHNICAL                   1
Name: JOB_TITLE, dtype: int64

In [16]:
#Here you can see count of employers from google.
df2018.EMPLOYER_NAME[df2018.EMPLOYER_NAME.str.contains('GOOGLE',case=False) == True].value_counts()

GOOGLE LLC     144
GOOGLE INC.     12
Name: EMPLOYER_NAME, dtype: int64

In [17]:
#Certifies job positions from Facebook.
df2018.JOB_TITLE[(df2018.EMPLOYER_NAME.str.contains("FACEBOOK",case=False)==True)&(df2018.CASE_STATUS =='CERTIFIED')].value_counts()

SOFTWARE ENGINEER                                 24
RESEARCH SCIENTIST                                 5
DATA ENGINEER                                      2
HEAD OF ADVANCED RISK AND COMPLIANCE ANALYTICS     1
PRODUCT DESIGNER                                   1
MALWARE RESEARCHER                                 1
RESEARCH SCIENTIST MANAGER                         1
RESEARCH ENGINEER                                  1
DATA SCIENTIST                                     1
UX RESEARCHER                                      1
SOLUTIONS ENGINEER                                 1
SYSTEM TEST ARCHITECT                              1
RESEARCH SCIENTIST (91.13381)                      1
SOFTWARE ENGINEERING MANAGER                       1
SOFTWARE ENGINEER MANAGER                          1
MOBILE OPERATOR SUPPORT ENGINEER                   1
DIRECTOR, NETWORK INVESTMENTS                      1
CONTENT STRATEGIST                                 1
PRODUCTION ENGINEER                                1
ENGINEERING DIRECTOR                               1
SOCIAL MARKETING MANAGER                           1
RESEARCH SCIENTIST (91.133931)                     1
PRODUCT DESIGNER (91.13185)                        1
ENTERPRISE ENGINEER (91.133702)                    1
Name: JOB_TITLE, dtype: int64